body {
    background-color: aqua;
}

h1 {
    color: aliceblue;
    font-size: 3rem;

}

p {
    color: black;
    font-size: 2rem;
}

.custom{
    font-weight: 900;
    font-size: 3rem;
}